* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 245, 235);
}

/* Navbar */

.drop-down {
    list-style: none;
    background-color: #a11321;
    margin-top: 5px;
}

.drop-down li {
    display: inline-block;
    position: relative;

}

.drop-down li a {
    display: block;
    padding: 10px 5px;
    color: white;
    text-align: center;
    font-size: 17px;
    width: 80%;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Marcellus", serif;
}

.drop-down li a:hover {
    transform: scale(1.2);
} 

ul li ul.drop-down li {
    display: block;
}

ul li ul.drop-down {
    width:35%;
    background-color: #a11321;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.drop-down {
    display: block;
}

.origami {
    color: #a11321;
}

.brand-name {
    font-family: "Pacifico", serif;
    color: #4a1b00;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    width: 25%;
}

.offcanvas {
    background-color: rgba(255, 245, 235, 0.7);
    backdrop-filter: blur(10px);
    font-size: 18px;
}

.login-btn,
.signUp-btn {
    background-color: #4a1b00;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 50px;
    transition: 0.3s background-color;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 30px #0005;
}

.login-btn:hover,
.signUp-btn:hover {
    background-color: #a11321;
}

.navbar-toggler {
    font-size: 1.25rem;
    border: none;
    color: #4a1b00;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #4a1b00;
    font-weight: 500;
    margin: 0 4px;
    transition: 0.3s;
    font-size: 1rem;
}

.login-btn:hover,
.signUp-btn:hover {
    color: white;
    background-color: #a11321;
    transform: scale(1.10);
}

.nav-link:hover {
    color: #a11321;
    transform: scale(1.10);
}


@media (max-width: 991px) {

    .brand-name {
        font-size: 20px;
        margin-left: 10px;
    }

    .nav-link {
        display: block;
        text-align: center;
    }

    .login-btn,
    .signUp-btn {
        width: 100%;
        margin-top: 10px;

    }
}

/* <======================> */
/* Hero Section */

.hero-section {
    font-family: "Marcellus", serif;
    text-align: center;
    padding: 20px;
    color: black;
    text-align: justify;
}

.images img {
    margin-top: 50px;
    width: 200px;
    margin-bottom: 50px;
}

.para-1,
.para-2,
.para-3 {
    font-size: 1.5rem;
}

.p01,
.p02,
.p03,
.p04 {
    font-size: 3rem;
    color: #a11321;
}

.p1,
.p2,
.p3,
.p4 {
    color: #4a1b00;
}

.see-all-diagrams a,
.steps-btn a {
    border: 2px solid;
    background-color: #a11321;
    color: white;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 10px 30px #0005;
}

.see-all-diagrams a:hover,
.steps-btn a:hover {
    background-color: #d33d4c;
    color: white;
}

.image-02 img,
.steps img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: auto;
    display: block;
}

.designs-1 div img {
    width: 100%;
    height: auto;
}

.card {
    transition: all 0.3s;
    background-color: #fff5eb;
    border: none;
    width: 100%;
    max-width: 200px;
    margin: auto;
    color: black;
}

.card:hover {
    transform: scale(1.10);
}

.cards {
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 768px) {

    .p01,
    .p02,
    .p03,
    .p04 {
        font-size: 2.2rem;
    }

    .images img {
        height: 100px;
        width: 100px;

    }

    .p1,
    .p2,
    .p3,
    .p4 {
        font-size: 1.5rem;
    }

    .see-all-diagrams a,
    .steps-btn a {
        width: 220px;
        height: 60px;
        font-size: 15px;
    }

    .first-text {
        width: 100%;
    }

    .steps img {
        width: 100%;
    }

    .card:hover {
        transform: scale(1.10);
    }

    .card {
        transition: all 0.3s;
        background-color: #fff5eb;
        border: none;
        width: 100%;
        max-width: 100px;
        margin: auto;
    }

    .cards {
        flex-wrap: wrap;
        gap: 20px;
    }


    .steps img {
        width: 75%;
    }

    .btn {
        height: 40px;
        width: 70px;
        font-size: 10px;
        justify-content: center;
    }

    .card-title {
        font-size: 15px;
    }

}

@media (max-width: 576px) {

    .p01,
    .p02,
    .p03,
    .p04 {
        font-size: 1.9rem;
    }

    .steps-btn a {
        width: 160px;
        height: 50px;
        font-size: 13px;
    }

    .see-all-diagrams a {
        width: 160px;
        height: 65px;
        font-size: 13px;
    }

    .images img {
        height: 100px;
        width: 100px;

    }

    .card:hover {
        transform: scale(1.10);
    }

    .card {
        transition: all 0.3s;
        background-color: #fff5eb;
        border: none;
        width: 100%;
        max-width: 90px;
        margin: auto;
    }

    .cards {
        flex-wrap: wrap;
        gap: 9px;
    }

    .card-title {
        font-size: 13px;
    }

    .btn {
        height: 40px;
        width: 60px;
        font-size: 10px;
        justify-content: center;
    }

    .steps img {
        width: 100%;
    }
}

/* <======================>  */
/* Footer */

footer {
    min-height: 150px;
    padding: 20px 15px;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin-top: 100px;
    text-align: center;
    margin-right: 40px;
}

footer .social-links,
footer .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

footer .social-links li,
footer .menu li {
    list-style: none;
}

footer .social-links li a,
footer .menu li a {
    font-size: 1.5rem;
    color: #494949;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}

footer .social-links li a:hover {
    transform: translateY(-10px);
    color: #a11321;
}

footer .menu li a:hover {
    color: #a11321;
    transform: scale(1.10);
}

footer p {
    color: black;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 40px;
    margin-left: 10px;
}

@media (max-width: 768px) {

    footer {
        margin-right: 29px;
    }

    footer .social-links li a,
    footer .menu li a {
        font-size: 1.3rem;
    }

    footer p {
        font-size: 1rem;
        margin-left: 25px;
    }

}

@media (max-width: 576px) {

    footer {
        margin-right: 30px;
    }

    footer .social-links li a,
    footer .menu li a {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.8rem;
        margin-left: 10px;
    }
}